<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% comment %} {% import 'form.html' as form  %}
    <div>
    <p>Username: {{form.input('name')}}</p>
    <p>Password: {{form.input('password',type='password')}}</p>
    <p>Login: {{form.input('submit',type='submit',value='login')}}</p>

   </div> {% endcomment %}
    
    {% from 'form.html' import input  %}
    <div>
    <p>Username: {{input('name')}}</p>
    <p>Password: {{input('password',type='password')}}</p>
    <p>Login: {{input('submit',type='submit',value='login')}}</p>

   </div>

</body>
</html>